pkgbase = plenti-bin
	pkgdesc = Static Site Generator with Go backend and Svelte frontend
	pkgver = 0.4.17
	pkgrel = 2
	url = https://github.com/plentico/plenti
	arch = x86_64
	license = APACHE
	provides = plenti
	conflicts = plenti
	source = plenti-0.4.17.tar.gz::https://github.com/plentico/plenti/releases/download/v0.4.17/plenti_0.4.17_Linux_64-bit.tar.gz
	sha512sums = b17a6943b4cf46e9266bc08ccfb8a6646e642047fabc2c63e12e45205f85c499b49f775713609af6a6a1c48bec84955b41704facfb9fbc8aac16934154f1cac4

pkgname = plenti-bin

